<div class="row">
 <div class="col-md-12">
 <!-- Blog Post -->
 <!-- Title -->
<div class="jumbotron">
 <h1>Welcome to Ouiz </h1>
 <p>My application built with Rails!</p>
 <p><a href="#" class="btn btn-success btn-lg">Start here</a></p>
 <p></p>
</div>

 </div>
