<div class="row">
 <div class="col-md-12">
 <!-- Blog Post -->
 <!-- Title -->
<div class="jumbotron">
 <h1>Welcome to Ouiz </h1>
 <p>My first application built with Rails!</p>
 <p></p>
</div>

 </div>
